html {

}

body {

	background: url(../images/bg.jpg) no-repeat 50% 0% fixed black;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}


.action-button {
	border: 3px solid transparent;

	border-radius: 14px;

}

.action-button.active {
}


.item {
	position: absolute;
	top: 40%;
	left: 25%;
	width: 150px;
	height: 150px;
}

.item.active {
	width: 200px;
	height: 200px;
	margin-left: -25px;
	margin-top: -25px;
}

.item.game {
	margin-left: 200px;
}

.item.game.active {
	margin-left: 175px;
}

.item img {
	width: 100%;
	display: block;
	border-radius: 12px;
}
