<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GameHub</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="fonts/InterstatePro-Bold/styles.css">
    <link rel="stylesheet" type="text/css" href="fonts/InterstatePro-Regular/styles.css">
</head>
<body>
    <div class="logo">
        <img src="images/logo.png">
    </div>
    <ul class="tabbar">
        <li class="tabbar--item" data-route="/">Games</li>
        <li class="tabbar--item" data-route="/friends">Friends</li>
        <li class="tabbar--item" data-route="/me">Me</li>
    </ul>

    <div class="content" data-page="/">
        <ul class="list-view" id="gamesListView">
            <!-- TMP PLACE -->
        </ul>
    </div>

    <script type="text/template" id="gameListTemplate">
        <% for ( var i = 0; i < data.length; i++ ) { %>
            <% var item = data[i]; %>
            <li class="list-view--item clickable" data-action="document.location.hash='/game/<%=item.appdId%>'">
                <div class="list-view--media">
                    <img src="<%=item.image%>" />
                </div>
                <div class="list-view--description">
                    <span class="hightest-score"><i>Highest score</i>4805</span>
                    <h2><%=item.name%></h2>
                    <p>#<%=item.stats.friends%> among your friends</p>
                    <p>#<%=item.stats.total%> among 6 players</p>
                </div>
            </li>
        <% } %>
    </script>

    <div class="content" data-page="/friends" style="display: none;">
        <ul class="list-view" id="friendsListView">
            <!-- TMP PLACE -->
        </ul>
    </div>

    <script type="text/template" id="friendsListTemplate">
        <% for ( var i = 0; i < data.length; i++ ) { %>
            <% var item = data[i]; %>
            <li class="list-view--item clickable">
                <div class="list-view--media">
                    <img src="<%=item.image%>" />
                </div>
                <div class="list-view--description">
                    <h2><%=item.name%></h2>
                    <p>Plays <%=item.games%> games</p>
                    <p><%=item.common%> game in common</p>
                </div>
            </li>
        <% } %>
    </script>

    <div class="content" data-page="/me" style="display: none;" id="meView">
        <!-- TMP PLACE -->
    </div>

    <script type="text/template" id="meTemplate">
        <div class="usermedia">
            <div class="usermedia--wrapper">
                <img class="usermedia--pic" src="images/4.png" />
                <h3 class="usermedia--heading"><%=data.userData.givenName%> <%=data.userData.lastName%></h3>
                <p class="usermedia--description">1 game</p>
            </div>
        </div>


        <div class="last-played">
            <h3 class="media-row--heading">Most Successful Games</h3>
            <div class="last-played--wrapper">
                <ul class="list-view list-view__row">
                    <li class="list-view--item">
                        <div class="list-view--media">
                            <img src="images/game.jpg" />
                        </div>
                        <div class="list-view--description">
                            <h5>2048</h5>
                            <p>#1<br />4805pts</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </script>

    <div class="content" data-page="/game" style="display: none;" id="gameView">
        
    </div>

    <script type="text/template" id="gameTemplate">
        <% var thisUser = hub.user.getData(); %>
        <div class="game">
            <div class="game--wrapper">
                <img src="<%=game.image%>" />
                <h2><%=game.name%></h2>
                <p><%=game.stats.friends%> friends play this</p>
            </div>
            <div class="game--wrapper">
                <% if(leaderboard.length) { %>
                    <table class="leaderboard" cellspacing="0" cellpadding="0">
                        <tr>
                            <th width="1">#</th>
                            <th>Name</th>
                            <th>Score</th>
                        </tr>
                        <% for ( var i = 0; i < leaderboard.length; i++ ) { %>
                            <% if(i < 9) { %>
                                <% var item = leaderboard[i]; %>
                                <% var className = (item.username === thisUser.userName ? 'current' : ''); %>
                                <tr class="<%=className%>">
                                    <td><%=(i+1)%></td>
                                    <td>
                                        <%=item.username%>
                                        <% /*=(item.username === thisUser.userName ? '(you)' : '')*/%>
                                    </td>
                                    <td><%=item.score%></td>
                                </tr>
                            <% } %>
                        <% } %>
                    </table>
                <% } %>
            </div>
        </div>
    </script>

    <script type="text/javascript" src="../SDK/src/fetch.js"></script>
    <script type="text/javascript" src="../SDK/src/hub-sdk.js"></script>
    <script type="text/javascript" src="./js/jquery.js"></script>
    <script type="text/javascript" src="./js/consts.js"></script>
    <script type="text/javascript" src="./js/dNav.js"></script>
    <script type="text/javascript" src="./js/page.js"></script>
    <script type="text/javascript" src="./js/Menu.js"></script>
    <script type="text/javascript" src="./js/GameHub.js"></script>
    <script type="text/javascript" type="text/javascript">
    // Simple JavaScript Templating
        // John Resig - http://ejohn.org/ - MIT Licensed
        (function(){
          var cache = {};
         
          this.tmpl = function tmpl(str, data){
            // Figure out if we're getting a template, or if we need to
            // load the template - and be sure to cache the result.
            var fn = !/\W/.test(str) ?
              cache[str] = cache[str] ||
                tmpl(document.getElementById(str).innerHTML) :
             
              // Generate a reusable function that will serve as a template
              // generator (and which will be cached).
              new Function("obj",
                "var p=[],print=function(){p.push.apply(p,arguments);};" +
               
                // Introduce the data as local variables using with(){}
                "with(obj){p.push('" +
               
                // Convert the template into pure JavaScript
                str
                  .replace(/[\r\t\n]/g, " ")
                  .split("<%").join("\t")
                  .replace(/((^|%>)[^\t]*)'/g, "$1\r")
                  .replace(/\t=(.*?)%>/g, "',$1,'")
                  .split("\t").join("');")
                  .split("%>").join("p.push('")
                  .split("\r").join("\\'")
              + "');}return p.join('');");
            // Provide some basic currying to the user
            return data ? fn( data ) : fn;
          };
        })();

        location.hash = '/';
        var hub = new HUB();
        hub.init('com.olo.hub');
        GameHub.Menu.init();
        dNav.init();
    </script>
</body>
</html>