
@font-face {
  font-family: "InterstatePro-ExtraLight";
  src: url("InterstatePro-ExtraLight.eot?#iefix") format("embedded-opentype"),
       url("InterstatePro-ExtraLight.otf")  format("opentype"),
	     url("InterstatePro-ExtraLight.woff") format("woff"),
       url("InterstatePro-ExtraLight.ttf")  format("truetype"),
       url("InterstatePro-ExtraLight.svg#InterstatePro-ExtraLight") format("svg");
  font-weight: normal;
  font-style: normal;
}
